<br>
auto test page
<br>
<br>
Automated testing frameworks provide the basis of test automation and simplifies the automation effort. The main advantage of a framework of assumptions, concepts and tools that provide support for automated software testing is the low cost for maintenance.
<br>
One Automated testing framework is Cucumber.  Cucumber is an open source tool to support Behavior Driven Development with plain text specifications and unobtrusive automation in Ruby. Alternative implementations of Cucumber exist for Java, .NET, and several other platforms.
<br>
<a href="/welcome/hellopage">back to homepage</a>