<br>
gitpage
<br>
<br>
GitHub is a Git repository hosting service, but it adds many of its own features. While Git is a command line tool, GitHub provides a Web-based graphical interface. It also provides access control and several collaboration features, such as a wikis and basic task management tools for every project.
<br>
<br>
Frequrntly used git commands are:
<br>
git add . = if you want to add new files
<br>
git commit -m "add nmessage" = add a message of what the new files are
<br>
git push origin master = push to new files to gitbub3
<br>
<br>

<a href="/welcome/hellopage">back to homepage</a>