Hello
<br>
<form>
First name:<br>
<input type="text" name="firstname">
<br>
Last name:<br>
<input type="text" name="lastname">
</form>
<br>
<form>
<input type="radio" name="sex" value="male" checked>Male
<br>
<input type="radio" name="sex" value="female">Female
</form>
<a href="/welcome/page2">link page2</a>

<a href="/welcome/webapppage">link to webapp page</a>

<a href="/welcome/gitpage">link to git page</a>

<a href="/welcome/herokupage">link to heroku page</a>

<a href="/welcome/autotestpage">link to auto test page</a>