<br>
Hello and welcome to my page
<br>
<br>
<br>
<a href="/welcome/about">link to about page</a><br>
<br>
<a href="/welcome/webapppage">link to webapp page</a><br>
<br>
<a href="/welcome/gitpage">link to git page</a><br>
<br>
<a href="/welcome/herokupage">link to heroku page</a><br>
<br>
<a href="/welcome/autotestpage">link to auto test page</a>